.contactPage {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 160px;
  padding-bottom: 100px;

  h2 {
    font-weight: 700;
    font-size: 48px;
    max-width: 520px;
    line-height: 58px;
  }
  p {
    max-width: 520px;

    margin-top: 30px;
    color: #8c919e;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 40px;
  }
  .contactSection_from {
    margin-top: 52px;
  }
}

input:focus + label {
  color: #66afe9;
  transform: translateY(-50px);

  background: white;
}
.contactSection_from .form-control-label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #050f2b;
  transform: translateY(-33px);
}
