.contactPage {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 160px;
  padding-bottom: 100px;

  h2 {
    font-weight: 700;
    font-size: 48px;
    max-width: 520px;
    line-height: 58px;
  }
  p {
    max-width: 520px;

    margin-top: 30px;
    color: #8c919e;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 40px;
  }
  .contactSection_from {
    margin-top: 52px;
  }
}

input:focus + label {
  color: #66afe9;
  transform: translateY(-50px);

  background: white;
}
.contactSection_from {
  .form-control-label {
    transition: 0.3s;
  }
  input {
    &:focus {
      box-shadow: none;
    }
  }
  input:focus + label {
    transform: translateY(-54px);
    background: transparent;
    color: rgba(202, 210, 233, 0.5);
    font-size: 14px;
  }
  select:focus + label {
    transform: translateY(-54px);
    background: transparent;
    color: rgba(202, 210, 233, 0.5);
    font-size: 14px;
  }
}
.contactSection_from .form-control-label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #050f2b;
  transform: translateY(-33px);
}

.textAreaWithFile {
  &_container {
    position: relative;
    padding-right: 40px;
    textarea {
      width: 100%;
      border: none;
      &:focus {
        outline: none;
      }
    }
    .btn {
      min-width: 40px;
      min-height: 40px;
      max-height: 40px;
      padding: 0 !important;
      position: absolute;
      right: 00px;
      top: -5px;
    }
  }
}
