.contactPage {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 160px;
  padding-bottom: 100px;
  background: url("../public/imgs/Group 1000001353 (1).svg");
  background-repeat: no-repeat;
  background-position: left bottom;

  h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
  }

  p {
    max-width: 520px;

    margin-top: 30px;
    color: #8c919e;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 40px;
  }
  .contactSection_from {
    // margin-top: 52px;
  }
}

.contactSection_from {
  box-shadow: 0px 4px 40px rgba(43, 89, 255, 0.08);
  border-radius: 12px;
  padding: 64px;
}

input:focus + label {
  color: #66afe9;
  transform: translateY(-50px) translateY(15px);

  background: white;
  background: #fff;
}
.contactSection_from {
  .form-control-label {
    transition: 0.3s;
  }
  input {
    &:focus {
      box-shadow: none;
    }
  }
  input:focus + label {
    transform: translateY(-54px);
    background: transparent;
    color: #2f80ed !important;

    font-size: 14px;
    transform: translateY(-57px) translateX(11px);

    background: white;
    background: #fff;
    padding: 0 4px;
  }
  select:focus + label {
    transform: translateY(-54px);
    background: transparent;
    color: #2f80ed !important;
    font-size: 14px;
  }
}
.contactSection_from .form-control-label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #8b949c;
  transform: translateY(-36px) translateX(11px);
  background: #fff;
  padding: 0 4px;
}

.textAreaWithFile {
  &_container {
    position: relative;
    // padding-right: 40px;
    textarea {
      width: 100%;
      border: 1px solid #ced4da;
      border-radius: 12px;
      padding: 15px;
      font-size: 14px;

      // border: none;
      &:focus {
        outline: none;
      }
    }
    .btn {
      min-width: 40px;
      min-height: 40px;
      max-height: 40px;
      padding: 0 !important;
      position: absolute;
      right: 00px;
      top: -5px;
    }
  }
}

.uploadBtn {
  background: #f5f8fd !important;
  display: flex;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  margin-top: 20px;
  svg {
    margin-right: 10px;
  }
}

.contact_btn_wrapper {
  .btn {
    background: #2f80ed;
    border-radius: 12px;
    margin-top: 24px !important;
  }
}

.labelTop {
  label {
    // transform: translateY(-57px) !important;
    background: transparent;
    color: #8b949c !important;
    font-size: 14px !important;
    transform: translateY(-57px) translateX(11px) !important;

    // color: #2f80ed !important;
  }
}

.PhoneNumberContainer {
  border: 1px solid #ced4da;
  height: 48px;
  border-radius: 12px;
  width: 100%;
  display: flex;
  align-items: center;

  &_selected {
    cursor: pointer;
    border-right: 1px solid #d9e2ee;
    padding-right: 10px;
    span {
      padding-right: 10px;
      padding-left: 4px;
    }
  }
  .form-group {
    height: 45px;
  }
  .phoneCodeSelect {
    height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 11px;
    position: relative;
    img,
    svg {
      width: 22px;
      height: 18px;
      border-radius: 12px;
    }
    .dropDown {
      position: absolute;
      top: 46px;
      background: #fff;
      z-index: 2;

      box-shadow: 1px 20px 40px #2b59ff1c;
      border-radius: 5px;
      max-height: 300px;
      overflow: hidden;
      height: 0px;
      padding: 0;
      z-index: 2;

      .options {
        height: 300px;
        overflow: auto;
        padding-top: 4px;
      }
      .searchInput {
        // position: absolute;
        margin-bottom: 4px;
        border-color: $brandColor;
        margin-right: 10px;
        input {
          max-width: 150px;
          &:focus {
            outline: none;
          }
        }
      }
      &.isOpen {
        height: 300px;
        padding: 10px 5px 10px 15px;
        // padding-top: 40px;
      }
      &_item {
        border-bottom: 1px solid rgba(0, 0, 0, 0.179);
        white-space: nowrap;
        display: flex;
        cursor: pointer;
        padding: 3px 6px;
        span {
          display: inline-block;
          width: 70px;
          margin-left: 7px;
        }
      }
    }
  }
  input {
    border: none;
    height: 45px;
  }
  .phoneCodeSelect {
  }
}

.invalid-feedback {
  transform: translateY(-20px);
  text-align: right;
}

.fileUpload {
  margin-bottom: 38px;
  .form-group {
    height: auto;
  }
  textarea {
    min-height: 100px;
  }
}

.contact_p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  color: rgba(24, 41, 57, 0.7);
}
.contact {
  h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 16px;
    margin-top: 36px;
  }
  padding-right: 84px;
  &_step {
    display: flex;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 100%;
      background-color: #e6f0fd;
      top: 24px;
      left: 12px;
    }
    &:last-child {
      &::after {
        background-color: transparent;
      }
    }
  }
  &_stepNumber {
    min-width: 24px;
    height: 24px;
    background: #e6f0fd;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #2f80ed;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
  }
  &_stepText {
    margin-bottom: 24px;
  }
}

.contactLeftHand {
  padding-right: 84px;
}
@media only screen and (max-width: 768px) {
  // .img-wrapper {
  //   max-width: 100%;
  //   text-align: center;
  //   img {
  //     max-width: 70vw;
  //     min-width: 200px;
  //   }
  // }
  .form-group.marginRight {
    margin-right: 26px;

    &:last-child {
      margin-right: 0 !important;
    }
  }
  .contactSection_from .form-control-label {
    font-size: 14px;
  }
  .contactSection_from input:focus + label {
    font-size: 12px;
  }
  .contactSection_from select:focus + label {
    font-size: 12px;
  }
  .contactSection_from .fileUpload {
    padding-bottom: 0px;
  }
  .textAreaWithFile_container textarea {
    &::placeholder {
      font-size: 14px;
    }
  }
  .labelTop label {
    font-size: 14px !important;
  }
  .stepUploadedFiles span {
    font-size: 14px !important;
  }
  .contactSection_from .btn {
    height: 48px;
  }
  .contactSection_from .form-group {
    margin-bottom: 14px;
  }
}
