$brandColor: #2f80ed;
$brandTextColor: #182939;
$brandTextColorLight: rgba(24, 41, 57, 0.7);

$mainFont: "Poppins", sans-serif;
// $mainFont: "Galano Grotesque", sans-serif;

// font-family: 'Galano Grotesque Alt', sans-serif;
// font-family: 'Galano Grotesque', sans-serif;
