footer {
  background: linear-gradient(214.77deg, #2660ee -212.1%, #020a1c 79.51%);
  padding: 110px 0 140px 0;
  span {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
    margin-bottom: 16px;
  }
  .coyright {
    font-size: 12px;
    margin-top: 20px;
  }
  .mx-4 {
    margin-left: 20px !important;
    margin-right: 20px;
  }
}

.footer {
  a {
    color: rgba(255, 255, 255, 0.7);
    &:hover {
      color: #fff;
      span {
        color: #fff;
      }
    }
  }
  &_logo {
    margin-bottom: 12px;
  }
  &_menuTitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #fff;
    margin-bottom: 30px;
    text-transform: uppercase;
    margin-top: 5px;
  }
}
.socials {
  a {
    display: inline-block;
    margin-right: 12px;
    &:hover {
      svg {
        rect {
          fill: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
}
.buybtn {
  margin-top: 16px;
}

.mobileSocial {
  // width: 140px;
  margin: auto;
  // border-top: 1px solid #d9d9d940;
  padding-top: 10px;
  // margin-top: 20px;
  a {
    margin-right: 12px;
  }
}

.mobileFooter_dropDown_title {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  letter-spacing: 2px;
  text-transform: uppercase;

  color: #ffffff;
}
.mobileFooter_dropDown {
  margin-bottom: 16px;
}
.rotate {
  transform: rotate(180deg);
}
.mobileFooter_dropDown_body {
  // height: 400px;
  max-height: 0px;
  overflow: hidden;
  transition: 1s;

  &.isOpen {
    max-height: 400px;
    transition: 0.4s;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 768px) {
  footer {
    padding: 80px 0 80px 0;
  }
  .mobileFooter {
    padding-left: 15px;
    padding-right: 15px;
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      margin-top: 12px;
      color: #ffffff;
      opacity: 0.7;
      margin-bottom: 32px;
    }
  }
}
