footer {
  background: linear-gradient(214.77deg, #2660ee -212.1%, #020a1c 79.51%);
  padding: 110px 0 140px 0;
  span {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
    margin-bottom: 16px;
  }
  .coyright {
    font-size: 12px;
    margin-top: 20px;
  }
  .mx-4 {
    margin-left: 20px !important;
    margin-right: 20px;
  }
}

.footer {
  a {
    color: rgba(255, 255, 255, 0.7);
    &:hover {
      color: #fff;
      span {
        color: #fff;
      }
    }
  }
  &_logo {
    margin-bottom: 12px;
  }
  &_menuTitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #fff;
    margin-bottom: 30px;
    text-transform: uppercase;
    margin-top: 5px;
  }
}
.socials {
  a {
    display: inline-block;
    margin-right: 12px;
  }
}
.buybtn {
  margin-top: 16px;
}

.mobileSocial {
  width: 140px;
  margin: auto;
  border-top: 1px solid #d9d9d940;
  padding-top: 20px;
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  footer {
    padding: 80px 0 80px 0;
  }
}
