.welcomeSection {
  // min-height: 100vh;
  display: flex;
  padding-top: 70px;

  //   align-items: center;
  svg {
    max-width: 100%;
  }
  .container {
    margin-top: 110px;
  }
  &_content {
    // margin-top: 100px;
    max-width: 590px;
    .curlSvg {
      margin-left: 38px;
      margin-bottom: 10px;
    }
    .col-md-5 {
      overflow: hidden;
    }
    .btn {
      // width: 222px;
      height: 48px;
      width: 140px;
    }
    h1 {
      margin-top: 40px;
      margin-bottom: 12px;
      font-size: 48px;
      font-weight: 600;
      line-height: 64px;
      color: $brandTextColor;
      span {
        color: $brandColor;
      }
    }
    p {
      padding-bottom: 22px;
      // max-width: 488px;
      color: $brandTextColorLight;
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
    }
    font-weight: 500;
    .acceptCrypto {
      font-weight: 500;
      svg {
        margin-right: 8px;
      }
    }
  }
}

.home {
  h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
  }
}

.roundBottom {
  position: relative;

  &-top {
    &::before {
      background-color: #fff;
      content: "";
      height: 80px;
      border-radius: 48px;
      width: 100%;
      position: absolute;
      top: 0px;
      bottom: inherit;
      transform: translateY(-50%) !important;
    }
  }
  &::after {
    background-color: #fff;
    transform: translateY(50%);
    content: "";
    height: 80px;
    border-radius: 48px;
    width: 100%;
    position: absolute;
    bottom: 0px;
  }
}
.servicesSection {
  background-color: #fff;
  padding-top: 150px;
  padding-bottom: 150px;

  &_introduce {
    h2 {
      font-weight: 700;
      font-size: 36px;
      line-height: 56px;
      margin-bottom: 12px;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: rgba(24, 41, 57, 0.7);
    }
  }

  &_cardsContainer {
    display: flex;
    flex-wrap: wrap;
  }
  &_card {
    border: 1px solid #eaebf0;
    border-radius: 12px;
    width: 280px;
    height: 224px;
    display: block;
    text-align: center;
    padding: 32px 24px;
    margin-right: 32px;
    margin-bottom: 32px;
    transition: 0.3s;
    &:hover {
      box-shadow: 0px 4px 40px rgba(43, 89, 255, 0.08);
    }
    h2 {
      font-weight: 600;
      font-size: 18px;
      line-height: 32px;
      color: $brandTextColor;
      margin-top: 18px;
      margin-bottom: 4px;
    }
    p {
      font-weight: 400;
      font-size: 13px;
      line-height: 24px;
      color: $brandTextColorLight;
    }
  }
}

.technology {
  // background: linear-gradient(214.77deg, #2660ee -212.1%, #020a1c 79.51%);
  padding-top: 150px;
  background: linear-gradient(214.77deg, #2660ee -212.1%, #020a1c 79.51%);
  background-repeat: repeat-x;
  background-position: bottom left;
  padding-bottom: 250px;

  .owl-nav {
    // display: none;
  }

  .owlWrapper {
    // width: 1320px;
  }
  .owlOut {
    // width: 1200px;
    // overflow: hidden;
    // position: relative;
    &::before {
      z-index: 20;
      content: "";
      position: absolute;
      height: 100%;
      width: 100px;
      // background: rgba(0, 0, 0, 0.176);
      right: 0;
      top: 0;
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
    }
  }
  .servicePrev {
    position: absolute;
    top: 60px;
    left: -78px;
    transition: 0.3s;
    &:hover {
      path {
        opacity: 1 !important;
      }
    }
  }
  .serviceNext {
    position: absolute;
    top: 60px;
    right: -49px;
    transition: 0.3s;

    &:hover {
      path {
        opacity: 1 !important;
      }
    }
  }

  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 56px;
    color: #ffffff;
    margin-bottom: 12px;
  }

  p {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 42px;
  }

  &_item {
    background: rgba(91, 94, 123, 0.187);
    // opacity: 0.5;
    border-radius: 16px;
    width: 188px;
    height: 188px;
    margin-right: 16px;
    text-align: center;
    padding-top: 30px;
    img {
      max-width: 100px;
      margin-top: 40px;
      display: inline-block;

      margin: auto;
      height: 100px;
    }
    h4 {
      text-align: center;
      color: #fff;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.01em;
      text-transform: capitalize;
    }
  }
}

.categoryMenu {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 50px;
  color: #ffffffad;
  margin-top: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  li {
    position: relative;
    cursor: pointer;
    margin-right: 30px;

    &::before {
      position: absolute;
      width: 84px;
      height: 4px;
      content: "";

      background: #466fff;
      border-radius: 24px;
      bottom: -13px;
      opacity: 0;
    }
    &.active,
    &:hover {
      color: #fff;
      &::before {
        opacity: 1;
      }
    }
  }
}

.collaboration {
  padding-top: 100px;
  padding-bottom: 80px;
  // background-color: #f5f5f5;
  p {
    color: rgba(24, 41, 57, 0.7);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .btn {
    // height: 48px;
    padding: 12px 32px;
    margin-top: 20px;
  }
  &_card {
    background: #ffffff;
    box-shadow: 0px 10px 26px rgba(109, 115, 136, 0.05);
    border-radius: 16px;
    display: flex;
    // height: 122px;
    padding-left: 34px;
    padding-right: 30px;
    // justify-content: center;
    margin-bottom: 12px;
    align-items: flex-start;
    max-width: 630px;
    border: 1px solid #eaebf0;
    border-radius: 12px;
    padding: 32px;
    cursor: pointer;
    &.isOpen {
      .info {
        p {
          max-height: 200px;
        }
      }
      .arrow {
        transform: rotate(-180deg);
      }
      box-shadow: 0px 4px 40px rgba(43, 89, 255, 0.08);
      border-radius: 12px;
      border: 1px solid transparent;
    }

    h4 {
      // max-width: 40%;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 0;
      width: 100%;
      padding-right: 30px;
      font-weight: 600;
      font-size: 18px;
      line-height: 32px;
      margin-top: 4px;

      // min-width: 190px;
    }
    .info {
      padding-left: 16px;
    }
    .index {
      min-width: 40px;
    }
    .arrow {
      min-width: 32px;
      margin-top: 6px;
    }
    p {
      margin-bottom: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      /* or 150% */
      transition: 0.3s;

      max-height: 0px;
      overflow: hidden;
      color: rgba(24, 41, 57, 0.7);
    }
  }
  &_more {
    align-items: center;
    margin-top: 35px;
    h4 {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #050f2b;
      margin-bottom: 0;
      margin-right: 14px;
    }
  }
}

.ourApproach {
  padding-top: 190px;
  padding-bottom: 190px;
  background: linear-gradient(214.77deg, #2660ee -212.1%, #020a1c 79.51%);
  h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 56px;
    color: #fff;
    margin-bottom: 12px;
  }
  p {
    color: rgba(255, 255, 255, 0.7);
    max-width: 900px;
    margin: auto;
    opacity: 0.7;
    transition: 0.3s;
  }
  &_cardsContainer {
    display: flex;
    margin-top: 100px;
  }
  &_card {
    width: 260px;

    &:hover {
      // transform: scale(2);
      h3 {
        opacity: 1;
      }
      p {
        opacity: 1;
      }
      svg {
        .red {
          fill: #fb5759;
        }

        // circle {
        //   box-shadow: 0px 0px 10px 10px rgba(251, 87, 89, 0.2);
        // }
        .wight {
          fill: #f8f1e7;
          opacity: 1;
        }
        .yellow {
          fill: #ff9d27;
        }

        .purple {
          fill: #722fdf;
        }

        .blue {
          fill: #2f80ed;
        }
        .green {
          fill: #33b071;
        }
      }
    }
    svg {
      * {
        transition: 0.3s;
      }
    }

    h3 {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 16px;
      color: #fff;
      text-align: center;
      opacity: 0.7;
      transition: 0.3s;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      opacity: 0.7;
      transition: 0.3s;
      color: #ffffff;
      margin-top: 24px;

      opacity: 0.7;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.spainPoint,
.usaPoint,
.ukrainePoint,
.geoPoint {
  cursor: pointer;
}

.usa,
.spain,
.ukraine,
.geo {
  cursor: pointer;
  &:hover {
    path {
      fill: #1c55e926;
    }
    // fill: red;
  }
}
.mapWrapper {
  position: relative;
}
.mapCard {
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 6px 16px -5px rgba(14, 10, 36, 0.15);
  border-radius: 4px;
  width: 167px;
  text-align: center;
  transform: translate(-50%, -250%);
  transition: 0.3s;
}

.sutGlobal_wrapper {
  // background: #f8f9fc;
  .mapWrapper {
    margin: auto;
    svg {
      width: 100%;
    }
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: rgba(24, 41, 57, 0.7);
  }
  .container {
    padding-top: 70px;
    // transform: translateY(87px);
    position: relative;
    z-index: 2;
  }
}
.sutGlobal_count {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;

  > div {
    // display: flex;
    align-items: center;
    border-right: 1px solid #c8cce5;
    width: 340px;
    &:last-child {
      border-right: 0;
    }
    &:first-child {
      h3 {
        color: $brandColor;
      }
    }
    &:last-child {
      h3 {
        color: #ffb539;
      }
    }
    span {
      font-weight: 600;
      font-size: 64px;
      line-height: 96px;
    }
    h3 {
      font-style: normal;
      font-weight: 600;
      margin-right: 50px;
      font-size: 20px;
      line-height: 24px;
      // margin-left: 27px;
      white-space: nowrap;
      color: #fb5759;
      width: 190px;
    }
  }
}

.sutGlobal_aboutLink {
  justify-content: center;
  margin-top: 90px;
  h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-right: 21px;
    align-items: center;
    letter-spacing: 0.0125em;
    margin-bottom: 0px;
  }
}

.mapWrapper {
  overflow: hidden;
  height: 500px;
}

.estimatePrice {
  padding-top: 140px;
  padding-bottom: 150px;
  background: url(../../public/imgs/Group1000001354.svg),
    url(../../public/imgs/Group1000001353.svg),
    linear-gradient(214.77deg, #2660ee -212.1%, #020a1c 79.51%);
  background-repeat: no-repeat;
  background-position: right top, left bottom;
  h2 {
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    span {
      display: block;
      color: $brandColor;
    }
  }
  svg {
    margin-top: -70px;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    max-width: 900px;
    margin: auto;
    text-align: center;
    color: #8c919e;
    margin-bottom: 40px;
    margin-top: 32px;
  }
  .btn {
    height: 56px;
    width: 200px;
    margin: auto;
    margin-top: 24px;
  }
}

.contactSection {
  padding-top: 160px;
  padding-bottom: 120px;
  background: url("../..//public/imgs/Group 1000001353 (1).svg");
  background-repeat: no-repeat;
  background-position: left bottom;
}

.contactSection_from {
  // max-width: 530px;

  .twoLineFrom {
  }

  input {
    // border: none !important;
    // border-bottom: 1px solid rgba(202, 210, 233, 0.5) !important;
    border-radius: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    height: 48px;
    padding-left: 15px;
  }

  .form-group {
    margin-bottom: 38px;
    height: 50px;
  }

  .form-control-label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #050f2b;
  }
  //   .twoLineFrom{
  //     input{
  //         margin-right: ;

  //     }

  //   }
  .marginRight {
    margin-right: 36px;
  }
  //   input{
  //     margin-right: ;
  //   }
  .selectWrapper {
    select {
      border: none;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
    margin-right: 36px;
    height: 35px;
    margin-bottom: 29px;
    width: 200px;
    border-bottom: 1px solid rgba(202, 210, 233, 0.5) !important;
  }
  .phoneForm {
    .form-group {
      width: 100%;
      margin-bottom: 0px;
    }
  }
  .fileUpload {
    // border-bottom: 1px solid rgba(202, 210, 233, 0.5) !important;
    // padding-bottom: 14px;

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 50px;
    }
  }
  .btn {
    background: rgba(28, 85, 233, 0.1);
    border-radius: 12px;
    // max-width: 180px;
    height: 48px;
  }
}

.earth2 {
  // width: ;
  .isActive {
    // &:hover {
    fill: #b7d7ff;
    // }
  }
}
.earth2Wrapper {
  overflow: hidden;
}

.owl-carousel .owl-item img {
  min-height: 50px;
}

@media only screen and (max-width: 768px) {
  .owlOut {
    overflow: hidden;
  }
  .owl-carousel .owl-item img {
    height: 100px;
  }
  .technology .owlOut::before {
    display: none;
  }
  .sutGlobal_wrapper .mapWrapper svg {
    width: 174%;
    transform: translateX(-17%);
  }
  .earth2Wrapper {
    overflow: scroll;
    div {
      width: 1300px;
      overflow: hidden;
    }
    svg {
      // max-width: 1000px;
      rect {
        max-width: 1000px !important;
      }
    }
  }

  .servicesSection_card {
    width: 100%;
    height: auto;
    margin-right: 0px;
    padding: 24px;
    h2 {
      font-weight: 600;
      font-size: 18px;
      line-height: 32px;
    }
  }

  .collaboration {
    padding-top: 45px;
    > div {
      // margin-left: 15px !important;
      padding-left: 30px;
      margin-right: 15px !important;
    }
  }

  .welcomeSection .container {
    margin-top: 0px;
    h1 {
      font-weight: 600;
      font-size: 36px;
      line-height: 48px;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;

      color: #5d6974;
    }
  }

  .servicesSection {
    padding-top: 4px;
    padding-bottom: 16px;
    .row {
      display: flex;
      flex-direction: column-reverse;
    }
    h2 {
      font-weight: 600;
      font-size: 18px;
      line-height: 32px;
    }
    p {
      margin-top: 5px;
      font-weight: 400;
      font-size: 13px;
      line-height: 24px;
      color: #050f2b;
      max-width: 230px;
      margin: auto;
    }
  }
  .servicesSection_introduce {
    margin-bottom: 32px;
    h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 12px;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: rgba(24, 41, 57, 0.7);
      opacity: 0.7;
      max-width: 100%;
    }
  }
  header {
    box-shadow: 0px 4px 11px rgba(6, 14, 41, 0.06);
    .headerLogo {
      height: 40px;
    }
    // padding-top: 11px;
    // padding-bottom: 11px;
  }
  .serviceSubmenu.isMobile {
    left: 0;
  }
  .serviceSubmenu.isMobile {
    left: 0;
    overflow-y: scroll;
    max-height: 100vh;
  }

  .serviceMobile {
    overflow-x: auto;
    max-width: 100%;
    > div {
      display: flex;
    }
    .servicesSection_item {
      border-radius: 16px;
      height: 320px;
      width: 280px;
      img {
        max-width: 40px;
      }
    }
    .servicesSection_item p {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      margin-top: 0;
    }
    .servicesSection_item h3 {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: -10px;
      margin-top: 11px;
    }
    .btn {
      font-size: 14px;
    }
  }

  .welcomeSection {
    background: #fff;
    padding-top: 26px;
  }
  header {
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: #fff;
  }

  .acceptCrypto {
    display: none;
  }

  .welcomeSection_content h1 {
    font-size: 44px;
    line-height: 48px;
    margin-top: 6px;
    margin-bottom: 20px;
  }
  .welcomeSection_content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }

  .welcomeSection_content {
    margin-top: 63px;
  }

  .welcomeSection_content .btn {
    width: 142px;
    height: 48px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
  .welcomeSection {
    min-height: inherit;
    padding-bottom: 13px;
  }

  .mainSectionImg {
    max-width: 100%;
    padding-top: 48px;
  }
  .welcomeSection_content .curlSvg {
    transform: rotateZ(-35deg) translateY(-11px);
    height: 39px;
  }
  .technology_item {
    max-width: 172px;
    height: 172px;
    padding-top: 16px;
    margin-bottom: 10px;
    margin-right: 5px !important;

    img {
      max-width: 100px;
      height: 100px;
      height: auto;
    }
  }
  .technologies_mobile {
    > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  .technology {
    padding-bottom: 60px;
    padding-top: 110px;
    h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }
    .categoryMenu {
      white-space: nowrap;
      overflow-y: auto;
      max-width: 100%;
      padding-bottom: 20px;
      margin-bottom: 25px;

      li {
        font-weight: 500;
        font-size: 14px;
        &::before {
          width: 100%;
        }
      }
    }
  }

  .collaboration_img {
    // max-width: 100%;
    padding-top: 20px;
    max-height: 300px !important;

    // width: 100%;
  }

  .ourApproach_cardsContainer {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 55px;
  }

  .ourApproach_card {
    margin-bottom: 40px;
    width: 310px;
    text-align: center;
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
    }
  }

  .sutGlobal_wrapper .container {
    // transform: translateY(93px);
    padding-top: 22px;
  }

  .ourApproach {
    padding-top: 127px;
    padding-bottom: 98px;
    h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }
  }

  .collaboration {
    // background-color: #f8f9fc;
    padding-top: 45px;
    padding-bottom: 51px;
    h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: rgba(24, 41, 57, 0.7);
      opacity: 0.7;
    }
  }
  .collaboration_container .col-md-5 {
    padding-left: 0 !important;
  }
  .collaboration_card {
    border-radius: 0;
    // flex-direction: column;
    padding: 24px;
    // &.greenBorder {
    //   border-left: 5px solid #77c154;
    // }
    // &.blueBorder {
    //   border-left: 5px solid #2697ff;
    // }
    h4 {
      max-width: 100%;
      font-weight: 600;
      font-size: 16px;
      line-height: 32px;
      margin-top: 3px;
    }
    p {
      margin-top: 10px;
      text-align: left;
      margin-left: 0;
      width: 100%;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;

      color: rgba(24, 41, 57, 0.7);

      opacity: 0.7;
    }
  }
  .collaboration_more {
    svg {
      height: 36px;
    }

    h4 {
      max-width: 186px;
      font-size: 14px;
      line-height: 18px;
    }
  }

  .ourGlobal {
    background: #fff;
    h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      /* or 171% */

      color: rgba(24, 41, 57, 0.7);

      opacity: 0.7;
    }
  }
  .sutGlobal_count {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    > div {
      align-items: flex-start;
      margin-bottom: 20px;
      border-right: 0;
      display: flex;
      align-items: center;
      width: auto;
      span {
        width: 80px;
        text-align: center;
        display: initial;
        font-weight: 600;
        font-size: 32px;
        line-height: 36px;
      }
      h3 {
        &.onelINe {
          padding-top: 10px;
        }
        padding-bottom: 0px;
        padding-top: 0px;
        margin-left: 15px;
        margin-bottom: 0;
        border-bottom: 1px solid rgba(202, 210, 233, 0.5);
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        width: auto;
        border-bottom: 0;
      }
    }
    .b-0 {
      border: 0 !important;
    }
  }
  .sutGlobal_aboutLink {
    flex-direction: column;
    margin-top: 26px;

    h4 {
      margin-right: 0;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 13px;
    }
    .btn {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      width: 114px;
      height: 40px;
    }
  }

  .sutGlobal_wrapper .container {
    transform: translateY(0px);
  }

  .estimatePrice {
    padding-top: 110px;
    padding-bottom: 120px;

    h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      text-align: center;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;

      color: rgba(255, 255, 255, 0.7);
      text-align: center;
      margin-right: 0;
      margin-top: 17px;
    }
    svg {
      min-width: 300px;
      max-width: 70%;
      max-height: 357px;
    }
    .btn {
      border-color: $brandColor !important;
      width: 100%;
      height: 48px;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
    }
  }

  .contact {
    padding-right: 0px;
  }
  .contactSection {
    padding-top: 60px;

    h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;

      color: rgba(24, 41, 57, 0.7);

      opacity: 0.7;
    }
    img {
      max-width: 60%;
    }
    .img-wrapper {
      text-align: center;
      margin-bottom: 50px;
    }
  }
  .contactSection_from .form-control-label {
    font-size: 14px;
  }
  .contactSection_from .selectWrapper select {
    font-size: 14px;
  }
  .contactSection_from .form-group {
    margin-bottom: 35px;
  }
  .btn_wrapper {
    text-align: center;
    margin-top: 50px;
    .btn {
      margin: auto;
      width: 185px;
      height: 48px;
      font-weight: 600;
      font-size: 14px;
    }
  }
  .contactSection {
    padding-bottom: 60px;
  }
  .contactSection_from .btn {
    height: 37px;
    font-size: 14px;
    color: $brandColor;
    font-weight: 600;
  }
}

.technology {
}

.collaboration_img {
  // max-width: 100%;
  padding-top: 20px;
  // width: 100%;
  max-height: 540px;
}
